# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyTest
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# PathSense Local
docker-compose.override.yml
ml/artifacts/*.pkl
!ml/artifacts/model_meta.json
!ml/artifacts/model_report.json